*{
  margin: 0;
  padding: 0;
  border: 0;
  list-style: none;
  text-decoration: none;
}

html, body, #root{
  width: 100%;
  height: 100%; 
}

.wrapper {
  width: 90%;
  height: 90%;
  background-color: burlywood;
  margin: auto;
  margin-top: 3%;
  border-radius: 80px;
  position: relative;
}

.books{
  margin: auto;
  background-image: url(./books.png);
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  background-size: 80% 80% ;
  width: 100%;
  height: 100%;
}